*{
    margin:0;
    padding:0;
    font-family:poppins;
    box-sizing: border-box;
}
body{
    background-color:#E7D2BD  ;

}
.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px;
  
    color:white;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color:rgba(2,2,2,0.3)

}


.nav a{
    color:white;
    /* margin:0 15px; */
    padding: 0px 15px;
    text-decoration:none;
    
}


.logo{
    width: 250px;
    margin-right: 0px;
    height: 190px;
}

.hamburger{
    display:none;
    flex-direction:column;
    cursor:pointer;
    
   
}

.hero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 3px 2px 2px #474747;
    gap: 60px;  
    background-image: url(modern-interior-design-interior.jpg);
    background-position: fixed;
    width: 99vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
    padding: 50px;
}


.hero-btn{
    font-size: medium;  
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E7D2BD;
    font-weight:500;
    font-size: larger;
    transition: all 1s ease-in; 

}

.hero-btn:hover{
     transform: translateY(-3px);
     box-shadow: 0 10px 15px ;
    box-shadow: 0 8px 20px ;
}

.feature{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* color: white; */
    border: solid 1px #111;
    width: 400px;
    padding: 10px;
    gap: 10px;
    height: 200px;
    background-color:#3c8993; 
     border-radius: 10px;
     transition: all 0.7s ease;
}
 h1{ 
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  
}

.features .feature:hover{
    transform: translateY(-8px);  
    cursor: pointer;    
    color:#E7D2BD ;     
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background-color: #2d6b73;
}

.pricing-wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 20px 0;
    
    
}

.pricing-section h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pricing-section input{
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    width: 80%;
    /* background-color: #3c8993; */
     border-radius: 10px;
     
    
}


.service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.click-btn{
    font-size: medium;  
    width: 110px;
    height: 40px;   
    font-weight:500;    
    border-radius: 5px;
    cursor: pointer;     
    transition:  all 1s ease ; 

}

.click-btn:hover{
     transform: translateY(-3px);
     box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px rgba(0,0,0,0.3);
    
}

.price-card{
    border: 1px solid #111;
    height: 500px;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: #3c8993;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 10px;
     transition:  all 0.6s ease;
}
.price-card .price{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: auto;
}

.price-card:hover{
    transform: translateY(-5px);  
       box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.prices{
    flex: 1;
}

.prices p{
    margin-bottom: 10px ;
}

.choose-btn{
    font-size: medium;  
    width: 110px;
    height: 40px;
        background-color:#E7D2BD;
        font-weight:500;
      
    border-radius: 5px;
    cursor: pointer;     
    transition:  all 1s ease ; 

}
.choose-btn:hover{
     transform: translateY(-3px);
     box-shadow: 0 10px 15px ;
    box-shadow: 0 8px 20px ;}


.price-card.color-budget {
    border-color: #27ae60;
    box-shadow: 0 0 15px rgba(39, 174, 96, 1);
    
}

.price-card.color-budget h4 {
    color: #27ae60;
}

.price-card.color-budget .price {
    color: #27ae60;
}


.waitlist{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
.waitlist input{
    padding: 15px;
    width: 300px;
    border-radius: 10px;
}

.waitlist-btn{
     font-size: medium;  
    width: 110px;
    height: 40px;
    background-color:#3c8993;
    font-weight:500;    
    border-radius: 5px;
    cursor: pointer;     
    transition:  all 1s ease ; 

}

.waitlist-btn:hover{
     transform: translateY(-3px);
     box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    
}

.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: #3c8993;
    margin-top: 20px;
}

footer a{
    color: white;
    text-decoration: none;
  
}

.footer-section-links ul li{
    list-style-type: none;
 
}





@media(max-width:768px){

    .hamburger{
        display:flex;
        width: 20px;
        gap: 4px;
   }
    .nav a{
        padding: 0;
    }
    .nav{
        visibility: hidden;
        position:absolute;
        top:90px;
        left:-100%;
        background-color:rgba(2,2,2,0.3);
        width:100vw;
        justify-content: center;
        display:flex;
        flex-direction:row;
        text-align:center;
        transition: all 0.7s ease-in;
        padding:5px 0 ;
        box-sizing:content-box;      
        
    }

    .nav a{
        padding:15px;
        display:block; 
      min-width: 17px;
    }


    .nav.active{
        visibility: visible;
        left:0;
        width: 100%;
        display:flex;
        
    }

    .logo{
        width: 150px;
        height: auto;
    }

    .hero{
        margin-top: 50px;
        width: 100%;
        height: 60vh;
    }

    .features{
        flex-direction: column;
    }

    .feature{
        width: 90%;
        height: auto;
    }

    .pricing-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .price-card{
        width: 90%;
       
    }

    .waitlist input{
        width: 90%;
    }

    .stats{
        flex-direction: column;
    }
    
}
